code-server
docker
k8s
.env
.venv
assets
.git
README.md
__pycache__
.vscode
.gitignore
dev
dist
webpack-stats.json
*.webpack-stats.json
LICENSE
build
node_modules
static/dist
tmp
*.gitlab-ci.yml
backup.sh
yarn-error.log
README.md
dist